<div id='skrollr-body' data-0-top>
  <section id="intro">
    <h1>A Gym for your mind.</h1>
    <p>
      Your mind is like a muscle. It needs to stretched and flexed.
      Open a fortune and respond. The response can be anything you like,
      but mostly a reflection on your daily observations.  
      The writing coupled with a motivational idea from respected thought leader will
      reduce stress and improve mental performance. Take two minutes
      to get something off your chest and begin to feel the benifits of a properly stretched mind.
    </p>
  </section>
  <div id='fortune-body'>
    <section id="fortune-cookie">
    </section>
    <section id="fortune">
      <%= @fortune.fortune %><br>
      -<%= @fortune.author%>
    </section>
    <div id="fortune-note" class="small-6 small-centered columns">
      <%= simple_form_for [@fortune, @note] do |f| %>
        <%= f.input :body, required: :true %>
        <% if user_signed_in? %>
          <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
        <%end%>
        <section id="tz-input"></section>
        <%= f.button :submit, "Submit" %>
      <% end %>
    </div>
  </div>
</div>
