<div class="fortune_cookie">
</div>
<div class="fortune">
  <%= @fortune.fortune %><br>
  -<%= @fortune.author%>
</div>
<%= simple_form_for [@fortune, @note] do |f| %>
  <%= f.input :body, required: :true %>
  <%= f.hidden_field :user_id, value: "#{current_user.id}", required: false %>
  <%= f.button :submit, "Submit" %>
<% end %>

<%= link_to "Note", new_fortune_note_path(@fortune)%>
