<h1>
  <%= @user.email %>
</h1>
  <% @notes.each do |n| %>
    <div id="date">
      <%= n.date_created %>
    </div>
    <div id="fortune">
      <%= n.fortune[0].fortune %><br>
      -<%= n.fortune[0].author %>
    </div>
    <div id="note">
      <%= n.body %>
    </div>
  <% end %>
