<%= link_to image_tag("fcookie.jpg"), fortunes_path%>
<div id="user_show">
<h3>
</h3><br>
  <% @notes.each do |n| %>
    <div id="date">
      <%= n.date_created %>
    </div>
    <div id="fortuneandnote">
      <div class="fortune">
        <%= n.fortune[0].fortune %><br>
        -<%= n.fortune[0].author %>
      </div><br>
      <%= link_to "Edit", edit_note_path(n.id) %>
      <div id="note">
        <%= simple_format(n.body) %>
      </div>
    </div><br>
  <% end %>
</div>
